django/venv
django/*/__pycache__
django/apps/*/__pycache__
django/apps/*/*/__pycache__
django/apps/*/migrations
django/db.sqlite3


# For teams
django/.env

# Extra
extra/datasets
extra/working
email.txt