{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src={% static 'js/editProfile.js' %}></script>
<!--navbar--> 
{% include 'common/navbar.html' %}

<main>
  <div class="relative isolate overflow-hidden pt-16 mx-8">
    <div class="bg-white mt-8">
      <section
        aria-labelledby="profile-details"
        class="lg:col-start-1 lg:row-start-1 lg:mx-auto lg:w-full lg:max-w-lg lg:pb-12 lg:pt-0"
      >
        <h2 id="profile-heading" class="sr-only">
          Profile details
        </h2>

        {% if is_recruiter %}
        <form id='profile-form' action="" method="POST">
          {% csrf_token %}
          <div class="mx-auto max-w-2xl px-4 lg:max-w-none lg:px-0">
            <div>
              <h3
                id="contact-info-heading"
                class="text-lg font-medium text-gray-900"
              >
                Personal information
              </h3>

              <div class="mt-6 grid grid-cols-3 gap-x-4 gap-y-6 sm:grid-cols-4">
                <div class="col-span-3 sm:col-span-4">
                  <label
                    for="recruiter-title"
                    class="block text-sm font-medium text-gray-700"
                    >Title</label
                  >
                  <div class="mt-1">
                    {{form.recruiter_title}}
                  </div>
                </div>
                <div class="col-span-3 sm:col-span-4">
                  <label
                    for="recruiter-summary"
                    class="block text-sm font-medium text-gray-700"
                    >About</label
                  >
                  <div class="mt-1">
                    {{form.recruiter_summary}}
                  </div>
                </div>

                <div class="col-span-3 sm:col-span-4">
                  <label
                    for="recruiter-linkedin"
                    class="block text-sm font-medium text-gray-700"
                    >LinkedIn URL</label
                  >
                  <div class="mt-1">
                    {{form.linkedIn_URL}}
                  </div>
                </div>

                <div>
                  <label
                    for="recruiter-gender"
                    class="block text-sm font-medium text-gray-700"
                    >Gender</label
                  >
                  <div class="mt-1">
                    {{form.gender}}
                  </div>
                </div>

                <div>
                  <label
                    for="recruiter-contact"
                    class="block text-sm font-medium text-gray-700"
                    >Contact</label
                  >
                  <div class="mt-1">
                    {{form.contact_number}}
                  </div>
                </div>
                  
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="recruiter-dob"
                    class="block text-sm font-medium text-gray-700"
                    >Date of Birth</label
                  >
                  <div class="mt-1">
                    {{form.date_of_birth}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 flex justify-end border-t border-gray-200">
            <button
              type="submit"
              class="rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
            >
              Save
            </button>
          </div>
        </form>
        {% else %}
        <form id='profile-form' action="" method="POST">
          {% csrf_token %}
          <div class="mx-auto max-w-2xl px-4 lg:max-w-none lg:px-0">
            <div>
              <h3
                id="contact-info-heading"
                class="text-lg font-medium text-gray-900"
              >
                Personal information
              </h3>

              <div class="mt-6 grid grid-cols-3 gap-x-4 gap-y-6 sm:grid-cols-4">
                <div class="col-span-3 sm:col-span-4">
                  <label
                    for="candidate-summary"
                    class="block text-sm font-medium text-gray-700"
                    >About</label
                  >
                  <div class="mt-1">
                    {{form.candidate_summary}}
                  </div>
                </div>

                <div class="col-span-3 sm:col-span-4">
                  <label
                    for="candidate-linkedin"
                    class="block text-sm font-medium text-gray-700"
                    >LinkedIn URL</label
                  >
                  <div class="mt-1">
                    {{form.linkedIn_URL}}
                  </div>
                </div>

                <div>
                  <label
                    for="candidate-gender"
                    class="block text-sm font-medium text-gray-700"
                    >Gender</label
                  >
                  <div class="mt-1">
                    {{form.gender}}
                  </div>
                </div>

                <div>
                  <label
                    for="candidate-contact"
                    class="block text-sm font-medium text-gray-700"
                    >Contact</label
                  >
                  <div class="mt-1">
                    {{form.phone_number}}
                  </div>
                </div>
                  
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="candidate-dob"
                    class="block text-sm font-medium text-gray-700"
                    >Date of Birth</label
                  >
                  <div class="mt-1">
                    {{form.date_of_birth}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 flex justify-end border-t border-gray-200">
            <button
              type="submit"
              name="profile_sub"
              class="rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
            >
              Save
            </button>
          </div>
        </form>
      </section>

      <section
        aria-labelledby="skill-details"
        class="lg:col-start-1 lg:row-start-1 lg:mx-auto lg:w-full lg:max-w-lg lg:pb-12 lg:pt-0"
      >
        <h2 id="skill-heading" class="sr-only">
          Skills
        </h2>

        <form id='skill-form' action="" method="POST">
          {% csrf_token %}
          <div class="mx-auto max-w-2xl px-4 lg:max-w-none lg:px-0">
            <div>
              <h3
                id="contact-info-heading"
                class="text-lg font-medium text-gray-900"
              >
                Skills
              </h3>

              {{ skill_formset.management_form }}
              {% for skill in skill_formset %}
              <div class="mt-6 grid grid-cols-3 gap-x-4 gap-y-6 sm:grid-cols-4 skill-form-row">
                {% for hidden in skill.hidden_fields %}
                  {{hidden}}
                {% endfor %}
                <div class="col-span-2 sm:col-span-3">
                  <label
                    for="skill-title"
                    class="block text-sm font-medium text-gray-700"
                    ></label
                  >
                  <div class="mt-1">
                    {{skill.skill}}
                  </div>
                </div>
                <div class="flex justify-end">
                  <div
                    class="rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 mr-2 add-skill-row"
                  >
                    Add
                </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="mt-10 flex justify-end border-t border-gray-200">
            <button
              type="submit"
              name="skill_sub"
              class="rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
            >
              Save
            </button>
          </div>
        </form>
      </section>


      <!--Qualifications-->
      <section
        aria-labelledby="qualification-details"
        class="lg:col-start-1 lg:row-start-1 lg:mx-auto lg:w-full lg:max-w-lg lg:pb-12 lg:pt-0"
      >
        <h2 id="qualification-heading" class="sr-only">
          Qualifications
        </h2>

        <form id='qualification-form' action="" method="POST">
          {% csrf_token %}
          <div class="mx-auto max-w-2xl px-4 lg:max-w-none lg:px-0">
            <div>
              <h3
                id="contact-info-heading"
                class="text-lg font-medium text-gray-900"
              >
                Qualifications
              </h3>

              {{ qualification_formset.management_form }}
              {% for q in qualification_formset %}
              <div class="mt-6 grid grid-cols-3 gap-x-4 gap-y-6 sm:grid-cols-4 qualification-form-row">
                {% for hidden in q.hidden_fields %}
                  {{hidden}}
                {% endfor %}
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="qualification-title"
                    class="block text-sm font-medium text-gray-700"
                    >Education</label
                  >
                  <div class="mt-1">
                    {{q.qualification}}
                  </div>
                </div>
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="qualification-institute"
                    class="block text-sm font-medium text-gray-700"
                    >Institute</label
                  >
                  <div class="mt-1">
                    {{q.institue_name}}
                  </div>
                </div>
                <div class="col-span-3 sm:col-span-4">
                  <label
                    for="qualification-description"
                    class="block text-sm font-medium text-gray-700"
                    >Description</label
                  >
                  <div class="mt-1">
                    {{q.qualification_description}}
                  </div>
                </div>
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="qualification-start-date"
                    class="block text-sm font-medium text-gray-700"
                    >Start Date</label
                  >
                  <div class="mt-1">
                    {{q.start_date}}
                  </div>
                </div>
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="qualification-end-date"
                    class="block text-sm font-medium text-gray-700"
                    >End Date</label
                  >
                  <div class="mt-1">
                    {{q.end_date}}
                  </div>
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div class="flex justify-end">
                  <div
                    class="rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 mr-2 add-qualification-row"
                  >
                    Add
                </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="mt-10 flex justify-end border-t border-gray-200">
            <button
              type="submit"
              name="qualification_sub"
              class="rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
            >
              Save
            </button>
          </div>
        </form>
      </section>

      <!--Experiences-->
      <section
        aria-labelledby="experience-details"
        class="lg:col-start-1 lg:row-start-1 lg:mx-auto lg:w-full lg:max-w-lg lg:pb-12 lg:pt-0"
      >
        <h2 id="experience-heading" class="sr-only">
          Experiences
        </h2>

        <form id='experience-form' action="" method="POST">
          {% csrf_token %}
          <div class="mx-auto max-w-2xl px-4 lg:max-w-none lg:px-0">
            <div>
              <h3
                id="contact-info-heading"
                class="text-lg font-medium text-gray-900"
              >
                Experiences
              </h3>

              {{ experience_formset.management_form }}
              {% for exp in experience_formset %}
              <div class="mt-6 grid grid-cols-3 gap-x-4 gap-y-6 sm:grid-cols-4 experience-form-row">
                {% for hidden in exp.hidden_fields %}
                  {{hidden}}
                {% endfor %}
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="experience-title"
                    class="block text-sm font-medium text-gray-700"
                    >Position</label
                  >
                  <div class="mt-1">
                    {{exp.job_title}}
                  </div>
                </div>
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="experience-company"
                    class="block text-sm font-medium text-gray-700"
                    >Company</label
                  >
                  <div class="mt-1">
                    {{exp.company_name}}
                  </div>
                </div>
                <div class="col-span-3 sm:col-span-4">
                  <label
                    for="experience-description"
                    class="block text-sm font-medium text-gray-700"
                    >Description</label
                  >
                  <div class="mt-1">
                    {{exp.job_description}}
                  </div>
                </div>
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="experience-job-start-date"
                    class="block text-sm font-medium text-gray-700"
                    >Start Date</label
                  >
                  <div class="mt-1">
                    {{exp.start_date}}
                  </div>
                </div>
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="experience-job-end-date"
                    class="block text-sm font-medium text-gray-700"
                    >End Date</label
                  >
                  <div class="mt-1">
                    {{exp.end_date}}
                  </div>
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div class="flex justify-end">
                  <div
                    class="rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 mr-2 add-experience-row"
                  >
                    Add
                </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="mt-10 flex justify-end border-t border-gray-200">
            <button
              type="submit"
              name="experience_sub"
              class="rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
            >
              Save
            </button>
          </div>
        </form>
      </section>

      {% endif %}
    </div>
  </div>
</main>
{%endblock%}