{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/setSelectedJobId.js' %}"></script>
<script src="{% static 'js/navigateApplication.js' %}"></script>

<!--navbar--> 
{% include 'common/navbar.html' %}

<main>
  <div class="relative isolate overflow-hidden pt-16">
    <div class="flex items-center gap-x-6 bg-gray-900 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    </div>
    <!-- Secondary navigation -->
    <header class="pb-2 pt-6 sm:pb-2">
      <div class="mx-auto flex max-w-full flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-8">
        <h1 class="text-base font-semibold leading-7 text-gray-900">My Jobs</h1>
        {% comment %} <div class="order-last flex w-full gap-x-8 text-sm font-semibold leading-6 sm:order-none sm:w-auto sm:border-l sm:border-gray-200 sm:pl-6 sm:leading-7">
          <a href="#" class="text-indigo-600">Last 7 days</a>
          <a href="#" class="text-gray-700">Last 30 days</a>
          <a href="#" class="text-gray-700">All-time</a>
        </div> {% endcomment %}
      </div>
    </header>

    <!-- Stats -->
    <div class="border-b border-b-gray-900/20 lg:border-t lg:border-t-gray-900/20">
      <dl class="mx-auto grid max-w-full grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 lg:px-2 xl:px-0">
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/20 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8">
          <dt class="text-sm font-medium leading-6 text-gray-500">New Applications</dt>
          {% comment %} <dd class="text-xs font-medium text-gray-700">+4.75%</dd> {% endcomment %}
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{applied_count}}</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/20 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">Screening Applications</dt>
          {% comment %} <dd class="text-xs font-medium text-rose-600">+54.02%</dd> {% endcomment %}
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{screening_count}}</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/20 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 lg:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">Pending for Interview Applications</dt>
          {% comment %} <dd class="text-xs font-medium text-gray-700">-1.39%</dd> {% endcomment %}
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{interview_count}}</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/20 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">Converted Applicants</dt>
          {% comment %} <dd class="text-xs font-medium text-rose-600">+10.18%</dd> {% endcomment %}
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{accepted_count}}</dd>
        </div>
      </dl>
    </div>

    <div class="absolute left-0 top-full -z-10 mt-96 origin-top-left translate-y-40 -rotate-90 transform-gpu opacity-20 blur-3xl sm:left-1/2 sm:-ml-96 sm:-mt-10 sm:translate-y-0 sm:rotate-0 sm:transform-gpu sm:opacity-50" aria-hidden="true">
      <div class="aspect-[1154/678] w-[72.125rem] bg-gradient-to-br from-[#FF80B5] to-[#9089FC]" style="clip-path: polygon(100% 38.5%, 82.6% 100%, 60.2% 37.7%, 52.4% 32.1%, 47.5% 41.8%, 45.2% 65.6%, 27.5% 23.4%, 0.1% 35.3%, 17.9% 0%, 27.7% 23.4%, 76.2% 2.5%, 74.2% 56%, 100% 38.5%)"></div>
    </div>
  </div>
  
    <div class="mx-auto max-w-full px-4 py-16 sm:px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 grid-rows-1 items-start gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <!-- Job summary -->
        {% if select %}
        <div class="lg:col-start-3 lg:row-end-1">
          <h2 class="sr-only">Summary</h2>
          <div class="rounded-lg bg-gray-50 shadow-sm ring-1 ring-gray-900/20">
            <dl class="flex flex-wrap">
              <div class="flex-auto pl-6 pt-6">
                <dd class="mt-1 text-base font-semibold leading-6 text-gray-900" id="selected_job_title">{{selected_job_obj.job.title}}</dd>
                <dt class="text-sm leading-6 text-gray-500" id="selected_job_company">{{selected_job_obj.job.company}}</dt>
              </div>
              <div class="flex-none self-end px-6 pt-4">
                <dt class="sr-only">Status</dt>
                <dd 
                id="selected_job_status"
                class =
                {% if selected_job_obj.job.status == 'Open' %}
                "rounded-md px-2 py-1 text-xs font-medium bg-green-50 text-green-600 ring-1 ring-inset ring-green-600/20"
                {% else %}
                "rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-600 ring-1 ring-inset ring-red-600/20"
                {% endif %}
                >
                  {{selected_job_obj.job.status}}
                </dd>
                
              </div>
              <div class="mt-6 flex w-full flex-none gap-x-4 border-t border-gray-900/20 px-6 pt-6">
                <dt class="flex-none">
                  <span class="sr-only">Location</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-6 text-gray-400" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                  </svg>
                </dt>
                <dd class="text-sm leading-6 text-gray-500" id='selected_job_location'>{{selected_job_obj.job.location}}</dd>
                {% comment %} <dd class="text-sm font-medium leading-6 text-gray-900">Alex Curren</dd> {% endcomment %}
              </div>
              <div class="mt-4 flex w-full flex-none gap-x-4 px-6">
                <dt class="flex-none">
                  <span class="sr-only">Required Qualifications</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-6 text-gray-400" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                  </svg>
                </dt>
                <div class='flex w-full flex-wrap' id='qualifications'>
                {% load qualifications_to_string %}
                  {% with selected_job_obj.job.job_required_qualifications.all|qualifications_to_string as qualfications %}
                    {% for q in qualfications %}
                      <dd class="text-sm leading-6 text-gray-500 rounded-md bg-gray-200 px-2 py-1 text-wrap mb-2 mr-2">{{q}}</dd>
                    {% endfor %}
                  {% endwith %}
                </div>
              </div>
              <div class="mt-4 flex w-full flex-none gap-x-4 px-6">
                <dt class="flex-none">
                  <span class="sr-only">Required Skills</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-6 text-gray-400" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
                  </svg>
                  
                </dt>
                <div class='flex w-full flex-wrap' id='skills'>
                  {% for skill in selected_job_obj.job.job_required_skills.all %}
                  <dd class="text-sm leading-6 text-gray-700 rounded-md bg-indigo-200 px-2 py-1 text-nowrap mb-2 mr-2">{{skill}}</dd>
                  {% endfor %}
                </div>
                {% comment %} <dd class="text-sm leading-6 text-gray-500">
                  <time datetime="2023-01-31">January 31, 2023</time>
                </dd> {% endcomment %}
              </div>
            </dl>
            <div class="mt-6 border-t border-gray-900/20 px-6 py-6">
              <a href="{% url 'recruiter-job' selected_job_obj.job.id %}" class="text-sm font-semibold leading-6 text-gray-900" id='selected_job_link'>More details <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </div>
        {% endif %}
        
        <!-- Job -->
        <div class="-mx-4 px-4 py-8 shadow-sm ring-1 ring-gray-900/20 sm:mx-0 sm:rounded-lg sm:px-8 sm:pb-14 lg:col-span-2 lg:row-span-2 lg:row-end-2 xl:px-16 xl:pb-20 xl:pt-16">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <h1 class="text-base font-semibold leading-6 text-gray-900">Jobs</h1>
              <p class="mt-2 text-sm text-gray-700">A list of jobs under {{recruiter.user.name}}.</p>
            </div>
            <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
              <a href="{% url 'create-job' %}" class="ml-auto flex items-center gap-x-1 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                <svg class="-ml-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
                </svg>
                New job
              </a>
            </div>
          </div>
          <!--Job Filter-->
          <form id="filter_form" method="get">
            <div class="mx-auto max-w-2xl px-4 lg:max-w-none lg:px-0">
              <div class="mt-6 grid grid-cols-3 gap-x-4 gap-y-6 sm:grid-cols-4">
                <div class="col-span-1 sm:col-span-2">
                  <label
                    for="job-title"
                    class="block text-sm font-medium text-gray-700"
                    >Position</label
                  >
                  <div class="mt-1">
                    {{filter.form.title}}
                  </div>
                </div>

                <div>
                  <label
                    for="job-location"
                    class="block text-sm font-medium text-gray-700"
                    >Location</label
                  >
                  <div class="mt-1">
                    {{filter.form.location}}
                  </div>
                </div>

                <div>
                  <label
                    for="job_status"
                    class="block text-sm font-medium text-gray-700"
                    >Status</label
                  >
                  <div class="mt-1">
                    {{filter.form.status}}
                  </div>
                </div>

                <div>
                  <label
                    for="job-closing-date"
                    class="block text-sm font-medium text-gray-700"
                    >Closing Start Date</label
                  >
                  <div class="mt-1">
                    {{filter.form.closing_date_start}}
                  </div>
                </div>

                <div>
                  <label
                    for="job-closing-date"
                    class="block text-sm font-medium text-gray-700"
                    >Closing End Date</label
                  >
                  <div class="mt-1">
                    {{filter.form.closing_date_end}}
                  </div>
                </div>

                <div>
                  <label
                    for="job_type"
                    class="block text-sm font-medium text-gray-700"
                    >Job Type</label
                  >
                  <div class="mt-1">
                    {{filter.form.job_type}}
                  </div>
                </div>

                <div>
                  <label
                    for="job_experience"
                    class="block text-sm font-medium text-gray-700"
                    >Experience Level</label
                  >
                  <div class="mt-1">
                    {{filter.form.job_required_experience_type}}
                  </div>
                </div>

                {% comment %} <div class="col-span-1 sm:col-span-2">
                  <label
                    for="job-company"
                    class="block text-sm font-medium text-gray-700"
                    >Company</label
                  >
                  <div class="mt-1">
                    {{filter.form.company}}
                  </div>
                </div> {% endcomment %}

                <div></div>
                <div></div>
                <div></div>
                
                <div class="flex justify-end pt-6">
                  <button class="rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50" type="submit">Search</button>
                </div>
              </div>
            </div>
          </form>

          <div class="mt-10 flex items-center gap-x-6 bg-gray-900 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
            <p class="text-sm leading-6 text-white">
              <strong class="font-semibold">Found Jobs</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>{{total_jobs}} <span aria-hidden="true">&rarr;</span>
            </p>
          </div>
          
          <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                    <tr>
                      <th scope="col" class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Job Title</th>
                      <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Company</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">New Applications</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Pending for Interview</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Converted Applications</th>
                      <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-0">
                        <span class="sr-only">Edit</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 bg-white">
                    {% for job_data in page_obj %}
                    <tr class="even:bg-gray-50 hover:bg-gray-200 cursor-pointer" onClick=setSelectedJobId({{job_data.job.id}})>
                        <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-0 w-72 text-wrap">{{job_data.job.title}}</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900 w-48 text-wrap">{{job_data.job.company}}</td>
                        <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-0 text-center">{{job_data.applied_count}}</td>
                        <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-0 text-center">{{job_data.interview_count}}</td>
                        <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-0 text-center">{{job_data.accepted_count}}</td>
                        <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                          <a href="{% url 'update-job' job_data.job.id %}" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, AAPS0L</span></a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% include 'common/customPagination.html'%}
              </div>
            </div>
          </div>
        </div>
  
        <div class="lg:col-start-3">
          <!-- Applications -->
          <h1 class="text-base font-semibold leading-6 text-gray-900">Active Applications</h1>
          <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                    <tr>
                      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Matching Score</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 bg-white" id='applications'>
                    {% for application in selected_job_obj.job_applications %}
                    <tr class="even:bg-gray-50 cursor-pointer" onClick=navigateApplication({{application.id}})>
                      <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                        <div class="flex items-center">
                          <div class="text-wrap">
                            <div class="font-medium text-gray-900" id='application_candidate'>{{application.candidate}}</div>
                            <div class="mt-1 text-gray-500">{{application.candidate.experience_belongs_to_candidate.first.job_title}}</div>
                          </div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">{{application.application_scorecard.overall_score}}%</td>
                      <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                        {% if application.status == 'Applied' %}
                        <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20">Applied</span>
                        {% elif application.status == 'Screening' %}
                        <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-600/20">Screening</span>
                        {% elif application.status == 'Interview' %}
                        <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Interview</span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{%endblock%}